<h1>My Background</h1>



<p>I love technology, always have.  I bought my first computer, an <%= link_to "Atari 800", "http://oldcomputers.net/atari800.html" %>, in 1983 with Bar Mitzvah money.  I still have it and used it to build this web site.  Just kidding.</p>
<p>I spent hundreds of hours typing in programs from computing magazines and was amazed by what was possible.  I had a tape cassette drive for storage and a dot matrix printer that I turned into a scanner using some parts from Radio Shack.</p>
<p>Eventually I got my first external hard drive, a Rana 1000, which changed everything. No more waiting five minutes for programs to load! It didn't take long before I got my first 300 baud modem and was dialing into BBS's to swap games and communicate with strangers.</p>
<p>Although I pursued a degree in the humanities, my first job out of college was with a small software company called Gnossos Software.  It was 1993.  My roommate at the time was working in the White House (Clinton administration) and gave me a tour of the West Wing.  It was there that I saw my first web site, which was the White House website and was running on Netscape.  I had been an AOL and Compuserve subscriber for a few years by that point, so it all clicked immediately.  But I could tell this was something that was going to change the world.</p>
<p>I soon taught myself HTML and proposed to my boss that I build our first web site.  It was purely static but I was very proud none-the-less.</p>
<p>Every job I've pursued and had since then has been with small companies creating web-based software and services.  I quickly moved up the Product Management chain but always enjoyed rolling up my sleeves.