<% if flash.notice %>
  <div class="thanks"><%= flash.notice %></div>
<% end %>

<% @posts.each do |post| %>
  <div class="post">
    <h3><%= link_to post.title, post %></h3>
    <p><%= display_date(post.created_at) %></p>
    <p><%= post.body.html_safe %></p>
  </div>
<% end %>

