<h1>Ben Feldman</h1>
<div class="subtitle">Full-stack web developer with rich product management background</div>

<h3>TECHNICAL SKILLS</h3>
<ul class="bullets">
  <li>Languages: Ruby, JavaScript, HTML5, CSS3, Sass</li>
  <li>Frameworks: Rails 3+, Rails 4, jQuery</li>
  <li>Databases: MySQL, Postgres, Sqlite</li>
  <li>Other: AJAX, Git, Agile</li>
</ul>

<h3>SUMMARY OF QUALIFICATIONS</h3>
<p>Full-stack junior web developer (and former product manager) specializing in Ruby/Rails with over a year of solid development experience, 15 years coding HTML/CSS, working with engineers, 5 years Agile process, managing product releases, strong design skills, OOP, strong SQL, information architecture, startups, lean</p>

<h3>PROJECTS / CODE</h3>
<ul class="bullets">
  <li><%= link_to 'DevBootstream.com', 'http://devbootstream.com' %>, social media aggregator for students and alumni  (<%= link_to 'code', 'http://github.com/anymd/bootstream' %>)</li>
  <li><%= link_to 'StaleMikes.com', 'http://stalemikes.com' %>, resources for performers  (<%= link_to 'code', 'http://github.com/anymd/stalemikes' %>)</li>
</ul>

<h3>PROFESSIONAL EXPERIENCE</h3>

<div class="company">
  <div><h4>GrabSent, Richmond, CA</h4></div>
  <div class="date">Sep 2013 - current</div>
</div>

<div class="job-title">Consultant</div>
<ul class="bullets">
  <li>xxx</li>
</ul> 

<div class="company">
  <div><h4>Funny Or Die, San Mateo, CA</h4></div>
  <div class="date">Jun - Sep 2013</div>
</div>

<div class="job-title">Web Developer Apprentice</div>
<ul class="bullets">
  <li>Contributed to massive redesign of Rails app including adding and refactoring features in MVC, writing migration scripts, and testing.</li>
</ul>

<div class="company">
  <div><h4>Dev Bootcamp, San Francisco</h4></div>
  <div class="date">Jan - May 2013</div>
</div>

<ul class="bullets">
  <li>Intensive 9-week web development course on programming fundamentals, OOP, databases, front/back-end technologies, APIs, background jobs, AJAX, TDD, pair programming, and all facets of web development.</li>
</ul>  

<div class="company">
  <div><h4>Juice In The City, San Mateo, CA</h4></div>
  <div class="date">Jan - Dec 2011</div>
</div>

<div class="job-title">Product Manager</div>
<ul class="bullets">
  <li>Drove all aspects of product management for a daily deals site catering to mothers.</li>
  <li>Managed API integration efforts with Google Deals.</li>
  <li>Produced reports and custom email lists with SQL.</li>
  <li>Built specifications directly in HTML/CSS.</li>
</ul>

<div class="company">
  <div><h4>CosmicWish, Oakland</h4></div>
  <div class="date">Jan - Dec 2011</div>
</div>

<div class="job-title">Co-Founder</div>
<ul class="bullets">
  <li>xxx</li>
</ul> 

<div class="company">
  <div><h4>Tandem Entrepreneurs, San Mateo, CA</h4></div>
  <div class="date">Jan - Dec 2011</div>
</div>

<div class="job-title">Consultant</div>
<ul class="bullets">
  <li>xxx</li>
</ul> 

<div class="company">
  <div><h4>Entrust (Business Signatures), Redwood City, CA</h4></div>
  <div class="date">Jul 2004 - Dec 2008</div>
</div>

<div class="job-title">Director of Product Management</div>
<ul class="bullets">
  <li>Transformed systems monitoring enterprise software application into world-class online banking fraud detection and prevention solution for top-tier banks.</li>
  <li>Developed application UIs with HTML/CSS.</li>
</ul>

<div class="company">
  <div><h4>Active Decisions, San Mateo, CA</h4></div>
  <div class="date">Mar 1999 - Jul 2004</div>
</div>

<div class="job-title">Senior Product Manager</div>
<ul class="bullets">
  <li>Designed and spearheaded development of Active Buyers Guide and supporting operations applications for online automated consumer product recommendation engine with over 40 million users and dozens of white label customers.</li>
  <li>Developed application UIs with HTML/CSS.</li>
</ul>  

<div class="company">
  <div><h4>mBED Software, San Francisco</h4></div>
  <div class="date">Mar 1997 - Feb 1999</div>
</div>

<div class="job-title">Product Marketing Manager</div>
<ul class="bullets">
  <li>Instituted and executed product marketing processes for popular multimedia web development software.</li>
</ul>  

<div class="company">
  <div><h4>Gnossos Software, Washington D.C.</h4></div>
  <div class="date">Jan 1994 - Mar 1997</div>
</div>

<div class="job-title">Senior Marketing Manager</div>
<ul class="bullets">
  <li>Formulated and executed marketing strategies for leading political action committee accounting software solution.</li>
  <li>Built company's first web site.</li>
</ul>

<h3>EDUCATION</h3>
<ul class="bullets">
  <li>Dev Bootcamp, 2013</li>
  <li>Railsbridge 2012-2013</li>
  <li>Ithaca College, 1993 B.A. Politics, Sociology</li>
</ul>
