<ul class="links">
  <li><h4>Ben Feldman</h4>Oakland, CA USA</li>
  <li>Full stack web developer specializing in Ruby, Rails, javascript & jQuery; former product manager.</li>
  <li>
    <%= link_to raw("<i class='fa fa-twitter fa-2x'></i>"), 'http://twitter.com/bendeveloping' %> <%= link_to raw("<i class='fa fa-github fa-2x'></i>"), 'http://github.com/anymd' %> <%= link_to raw("<i class='fa fa-linkedin fa-2x'></i>"), 'http://linkedin.com/in/benfeldman' %>
  </li>
</ul>